$primary: #55c57a;
$primaryLight: #7ed56f;
$primaryDark: #28b485;

$secondaryLight: #ffb900;
$secondaryDark: #ff4430;

$tertiaryLight: #2998ff;
$tertiaryDark: #5643fa;

$white: #fff;
$black: #000;

$greyLight1: #f7f7f7;
$greyLight2: #eee;

$greyDark1: #777;
$greyDark2: #999;
$greyDark3: #333;

$rgba10: rgba($black, 0.1);
$rgba15: rgba($black, 0.15);
$rgba20: rgba($black, 0.2);

$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterVerticalSmall: 6rem;
$gutterHorizontal: 6rem;

$defaultFontSize: 1.6rem;
