.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba($black, 0.8);
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($black, 0.3);
  }

  &__content {
    @include absoluteCenter;

    width: 75%;
    background: $white;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include resize(tabLand) {
      width: 90%;
      display: block;
      position: relative;
    }
  }

  &__left {
    width: 33.333%;
    height: 100%;
    display: table-cell;

    @include resize(tabLand) {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 0;
    }
  }

  &__right {
    width: 66.666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include resize(tabLand) {
      width: 100%;
      display: inline-block;
      position: relative;

      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include resize(tabLand) {
      width: 49.5%;
      padding: 0;
      margin: 0;
      display: inline-block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $greyLight2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $greyLight2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: left;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $greyDark1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $primary;
    }
  }

  @include resize(tabLand) {
    height: 100%;
    &__content {
      width: 85%;
      display: block;
      overflow: hidden;
    }

    &__left {
      width: 100%;
      height: 20vh;
    }

    &__right {
      width: 100%;
      display: block;
    }

    &__img {
      max-width: 50%;
      display: block;
      float: left;
      object-fit: cover;
      height: 20vh;
    }

    &__text {
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  @include resize(phone) {
    &__left {
      height: 0;
    }
    &__img {
      display: none;
    }
  }
}
